@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;



.comment {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 1rem;

  @include tablet {
    margin-top: unset;
    margin: 0 1.5rem 1.5rem 1.5rem;
    
  }

  @include desktop {
    margin: unset;
    margin-top: 1rem;
  }

  &__avatar {
    margin-top: 3.5rem;
    position: absolute;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    width: 2.5625rem;
    height: 2.25rem;
    background-size: cover;
    background-position-x: -0.25rem;
    border-radius: 50%;

    @include tablet {
      margin-top: 4rem;
    }

    @include desktop{
      margin-top: 3rem;
    }

  }

  &__display {
    margin-top: 0.5rem;
    margin-left: 3.4375rem;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;
    }

    @include desktop{
      margin-right: 1.5rem;
      
    }
  }

  &__data {
    font-size: 0.75rem;
    font-weight: 600;
    color: $primarycolor-silver;

    @include tablet {
      width: 70%;
      font-size: .8125rem;
    }

    @include desktop {
      font-size: .875rem;
      margin-left: 1.25rem;
    width: 65%;
    }

  }
}

.input__comment {
  @include input-field;
  min-height: 14.40vh;
  padding-top: .4375rem;
  
  
  @include tablet {
    font-size: .8125rem;
    min-height: 2.5rem;

  }

  @include desktop {
    font-size: .9375rem;
    
  }

  &--text-color::placeholder {
    font-family:'Avenir-pro'; 
    color: $primarycolor-black;


  }

}

.button-container {
  @include button-field;
  background-color: $primarycolor-blue;
  color: $primarycolor-white;
  
  
  @include tablet {
    min-width: 11.25rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  &:hover {
    background-color: $secondarycolor-dark-blue;
  }

  &__icon {

    position: absolute;
    left: 5.125rem;

    @include tablet {
      position: unset;
      margin-right: 1.6875rem;
      margin-left: .875rem
    }
  }
}




