$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

$primarycolor-black: #323232 ;
$primarycolor-white: #FFFFFF;
$primarycolor-silver: #AFAFAF;
$primarycolor-blue: #0095FF;


$secondarycolor-mercury: #E1E1E1;
$secondarycolor-alabaster: #FAFAFA;
$secondarycolor-dark-black: #000000;
$secondarycolor-dark-blue: #0065AD;


