@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.button {

    background-color: $primarycolor-blue;
    color: $primarycolor-white;
    @include button-field;
    


    @include tablet {
        justify-content: flex-start;
        width: 20.0625rem;
        margin-right: 5.5rem;
    }


    @include desktop {}

    &__icon {
        left: 1.75rem;
        position: absolute;

        @include tablet {
            position: unset;
            padding-right: 1.5rem;
            padding-left: 0.625rem;
        }
    }
}